.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 2;
}

.lnr-cart {
    width: 1.5em;
    height: 1.5em;
}

.lnr-magnifier {
    color: #000000;   
}

.navbar-nav li {
    margin-right: 3em;
}

section {
    margin-top: 40px;
}

.h {
    text-align: center;
}

.card-body {
    align-content: center;
}

footer {
    margin-top: 60px;
    padding: 5em;
}

.jumbotron {
    background-color: #F8F9FA !important; 
}

.tootajad {
    width: 90%;
    height: auto;
    z-index: 0;
    min-width: 50%;
}

.kast1 {
    margin-right: -100px;
    background-color: #ffcdd7;
    z-index: 1;
}

.kast2 {
    margin-left: -100px;
    background-color: #cecba2;
    z-index: 1;
}

.pealkiri {
    font-size: 32.5px;
}

.tekst {
    font-size: 18px;
}

.nupp, .nupp3 {
    background-color: white;
    border: 3px solid #ffcdd7; 
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    transition: all .2s ease-in-out; 
}

.nupp:hover, .nupp3:hover {
    background-color: white;
    border: 3px solid #cecba2;
    transform: scale(1.1); 
} 

.sots{
    color: black;
    transition: all .2s ease-in-out; 
}

.sots:hover {
    color: #cecba2;
    text-decoration: none;
    transform: scale(1.1); 
}

.meist-info {
    margin: 40px;
}

@media screen and (max-width: 1340px) {
    .meist-info {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .tootajad {
        width: 100%;
        padding: 0;
    }

    .kast1, .kast2 {
        margin: 0px;
    }

    .lehesisu {
        padding: 0;
    }

    .nupp {
        background-color:white;
        color: black;
        border: 1px solid black;
        margin-top: 5px;
        margin-bottom: 5px
    }

    .nupp:hover {
        background-color:white;
    } 

    .nupp3 {
        display: none;
    }

    .nupud {
        margin-top: 25px;
    }
}